<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        <p>This is a simple app created using NodeJS. If you enter a location, it will display the weather information of that location.</p>
        <p>The location gets converted into corresponding Latitude and Longitude. For that we are using API provided by <a href="www.mapbox.org">Mapbox.</a></p>
        <p>Next, we are feeding the Lattitude and Longitude information to the weather API from <a href="www.weatherstack.org">WeatherStack.</a></p>
        <p>The WS API returns a JSON. We convert that into a JSON Object and render the data in HTML using Handlebars View Engine.</p>
        <img class="portrait" src="/img/dp1.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>