<!DOCTYPE html>

<html>

    <head>
        <title>Index</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <p>You can use this site to get the weather data for any location.</p>

            <form>
                <input placeholder="Location">
            <button>Search</button>
            </form>

            <p id='message-1'></p>
            <p id='message-2'></p>
        </div>
        
        {{>footer}}

        <script src="/js/app.js"></script> 
    </body>

</html>

{{!-- Client Side JS scripts should always be placed just before the ending body tag. It is done so that the JS loads after all the HTML elements
have been rendered. Else, the JS script will try to load an element before it is created and error will occur. --}}